@import "~@/styles/common/var";
@import "~@/styles/mixins/mixins";
@import "~@/styles/mixins/utils";

$default-background-color: $--search-card-default-avatar-background;
$default-font-color: $--search-card-default-avatar-font-color;
$default-font-size: $--search-card-default-avatar-font-size;

@mixin avatar($width: 50px, $height: 50px, $radius: 50%, $default-img-src: '/') {
  width: $width;
  height: $height;
  border-radius: $radius;
  flex-shrink: 0;
  .default-avatar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @if $default-img-src == '/' {
      background-color: $default-background-color;
      font-size: $default-font-size;
      color: $default-font-color;
    } @else {
      background-image: url($default-img-src);
      background-size: 100% 100%;
    }

    @include utils-user-select(none);
  }
}
